@import './_material';
@import './_queries';
@import './variables';

.nav-height {
  height: #{$nav-height} !important;
}

.valign {
  display: flex !important;
  align-items: center !important;
}

.warning-text {
  color: #b71c1c !important;
}

.errors {
  .error {
      padding: 5px 0;
      color: red;
  }
  margin-bottom: 1em;
}
