@import './main';

mat-card {
    height: 100%;
    .back-btn {
        padding: 1em;
        
        i {
            cursor: pointer;
            padding: 10px;
            border: 1px solid grey;
            border-radius: 50%;
        }
    }

    .content {
        text-align: center;

        .text {
            margin-top: 6em;
        }

        mat-form-field {
            width: 100%;
            @media #{$l-up} {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}