@import './main';

.item-container {
  margin-bottom: 6px;
  border-right-style: solid;
  border-right-width: 10px;
  cursor: pointer;

  min-height: 2.5em;
}

.past-date {
  color: #{$danger};
  font-style: italic;
}

.today {
  font-weight: bold;
}

