<mat-card>
  <h3 [innerHTML]="login.login"></h3>
  <form class="form-container" [formGroup]="loginForm" (ngSubmit)="submitForm()" [class.loading]="isSubmitting">
    <mat-form-field>
      <mat-label for="loginForm_email" translate [innerHTML]="login.email"></mat-label>
      <input matInput formControlName="email" id="loginForm_email" type="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="loginForm_password" translate [innerHTML]="login.password"></mat-label>
      <input matInput formControlName="password" id="loginForm_password" class="validate" type="password" minlength="6" />
    </mat-form-field>
    <div class="errors" *ngIf="errors.length">
      <div class="error" *ngFor="let error of errors">{{ error }}</div>
    </div>
    <button mat-raised-button [innerHTML]="login.login" color="primary"></button>
  </form>
</mat-card>
