mat-form-field, .form-field {
  width: 100%;
  margin: 1em auto;
}

.custom-datepick {
  width: 80%;
  margin: 1em 0;
}

.action {
  width: 100%;
  text-align: center;
  
  .submit {
    width: 50%;
    font-weight: bold;
    margin: 1em auto;
  }
}