<mat-card>
  <mat-card-header class="flex-column">
    <button mat-icon-button routerLink="/task/list">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2><span [innerHTML]="stateText"></span> task</h2>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="taskForm" (ngSubmit)="submit()">
      <mat-form-field>
        <input matInput placeholder="Name..." type="text" formControlName="name">
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field>
        <textarea matInput placeholder="Description..." formControlName="description"></textarea>
      </mat-form-field>
      <mat-divider></mat-divider>
      <div class="flex-row flex-between">
        <mat-form-field class="custom-datepick">
          <input matInput 
            [matDatepicker]="datepicker" 
            (click)="datepicker.open()"
            placeholder="Due date..."
            readonly="true"
            formControlName="due_date">
          <mat-datepicker touchUi="true" #datepicker></mat-datepicker>
        </mat-form-field>
        <div class="valign today">
          <button type="button" mat-raised-button (click)="setToday()">Today</button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <p>Priority</p>
        <mat-slider class="form-field" 
          formControlName="priority"
          min="0" max="5" step="1" 
          tickInterval="1" thumbLabel
          (input)="move($event)"></mat-slider>
      </div>
      <mat-divider></mat-divider>
      <div class="action">
        <button mat-raised-button 
          color="accent"
          class="submit"
          [disabled]="!taskForm.valid">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>