@import './main';

.content {
  height: 90vh;
}

.navigator {
  mgr-nav {
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
  }
}

@media #{$l-up} {
  .content {
    width: #{$l-up-width-proc};
    margin: auto;
  }
}