@import './main';

.content {
  height: 90vh;
}

.navigator {
  mgr-nav {
    height: 10vh;
    width: 100%;
    text-align: center;
  }
}

@media #{$l-up} {
  .content {
    width: #{$l-up-width-proc};
    margin: auto;
  }
}