<mat-card>
  <div>
    <h2 style="text-align: center;">Functionality</h2>
    <div class="info-text">
        <br>
        <h3>Boards</h3>
        <p>Long press the board header to open the drawer.</p>
        <p>There you will be able to <b>Add board</b>, <b>Edit board name</b>, <b>Delete board</b>.</p>
        <p>To change boards you can either press the arrow buttons or swipe to the left or to 
          the right on the board header.</p>
        <br>
        <h3>Tasks</h3>
        <p>Add a new task by pressing the <b>+</b> button.</p>
        <p>You need to add a name and optionally you can add a description, select a due 
          date and priority for the task.</p>
        <p>You can mark a task as <b>DONE</b> by <b>swiping to the right</b> on one of the tasks.</p>
        <p><b>Swipe to the left</b> in order to delete a task.</p>
        <p>Both actions, mark as done and delete can be canceled within 10 seconds, by pressing the 
          <b>undo</b> action on the toast that appears.</p>
        <br>
        <h3>Upcoming features</h3>
        <h4>Task</h4>
        <ul>
          <li>Add a list of items (todo list)</li>
          <li>Add to Google Calendar</li>
          <li>Write the text using Speech Recognition</li>
        </ul>
        <h4>Lists functionality</h4>
    </div>
  </div>
</mat-card>